<style type="text/css">
.hm {
  background-image: url('assets/files/list.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 85px;
}

.text {
  text-align: center;
}
</style>

<div class="hm pb-5">

  <!-- List has data -->
  <ng-container *ngIf="form.list.length > 0">

    <div align="center">
      <h1 style="color: #2F4156;"><b>{{ 'FeeStructureList.Title' | translate }}</b></h1>
    </div>

    <!-- Success Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="!form.error && form.message" class="col-md-4 alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="#008000">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Error Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="form.error && form.message" class="col-md-4 alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="red">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <!-- Search Bar -->
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <select name="courseId" [(ngModel)]="form.searchParams.courseId" class="form-control">
          <option value="undefined">{{ 'FeeStructureList.SelectOptions.SelectCourse' | translate }}</option>
          <option *ngFor="let course of form.preload.courseList" [value]="course.id">{{ course.name }}</option>
        </select>
      </div>
      &emsp;
      <!-- <div class="col-sm-2">
        <input type="text" name="examFee" [(ngModel)]="form.searchParams.examFee" placeholder="Enter Exam Fee"
          class="form-control">
      </div> -->
      &emsp;
      
      <div class="col-sm-3">
        <input type="date" name="submissionDate" [(ngModel)]="form.searchParams.submissionDate"
          [placeholder]="'FeeStructureList.Placeholders.SubmissionDate' | translate" class="form-control">
      </div>
      <div class="col-sm-2">
        <input type="submit" (click)="search()" class="btn btn-primary btn-md" style="font-size: 15px" [value]="'FeeStructureList.Buttons.Search' | translate">
        &nbsp;
        <input type="submit" (click)="reset()" class="btn btn-dark btn-md" style="font-size: 15px" [value]="'FeeStructureList.Buttons.Reset' | translate">
      </div>
      <div class="col-sm-1"></div>
    </div>

    <br>

    <!-- Table -->
    <div style="margin-bottom: 20px;" class="table-responsive">
      <table class="table table-bordered table-dark table-hover">
        <thead>
          <tr style="background-color: #8C8C8C;">
            <th><input type="checkbox" [(ngModel)]="isMasterSel" (change)="checkUncheckAll($event)" /></th>
            <th class="text">{{ 'FeeStructureList.Table.SNo' | translate }}</th>
            <th width="20%" class="text">{{ 'FeeStructureList.Table.CourseName' | translate }}</th>
            <th width="15%" class="text">{{ 'FeeStructureList.Table.YearlyFees' | translate }}</th>
            <th width="15%" class="text">{{ 'FeeStructureList.Table.ExamFee' | translate }}</th>
            <th width="20%" class="text">{{ 'FeeStructureList.Table.SubmissionDate' | translate }}</th>
            <th width="5%" class="text">{{ 'FeeStructureList.Table.Edit' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of form.list; let i = index">
            <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" [id]="m.id" [value]="isMasterSel"></td>
            <td class="text">{{ (form.pageNo * 5) + i + 1 }}</td>
            <td class="text">{{ m.courseName }}</td>
            <td class="text">{{ m.baseFee | currency:'INR' }}</td>
            <td class="text">{{ m.examFee | currency:'INR' }}</td>
            <td class="text">{{ m.submissionDate | date:'dd/MM/yyyy' }}</td>
            <td class="text"><a (click)="forward('/fee/' + m.id)" style="cursor: pointer;">{{ 'FeeStructureList.Table.EditLink' | translate }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination & Action Buttons -->
    <table width="100%">
      <tr>
        <td>
          <input type="submit" (click)="previous()" class="btn btn-warning btn-md" style="font-size: 17px" [value]="'FeeStructureList.Buttons.Previous' | translate" [disabled]="form.pageNo == 0">
        </td>
        <td>
          <input type="submit" (click)="forward('/feestructure')" class="btn btn-primary btn-md" style="font-size: 17px" [value]="'FeeStructureList.Buttons.New' | translate">
        </td>
        <td>
          <input type="submit" (click)="deleteMany()" class="btn btn-danger btn-md" style="font-size: 17px" [value]="'FeeStructureList.Buttons.Delete' | translate">
        </td>
        <td align="right">
          <input type="submit" (click)="next()" class="btn btn-warning btn-md" style="font-size: 17px" [value]="'FeeStructureList.Buttons.Next' | translate" [disabled]="form.nextListSize == 0">
        </td>
      </tr>
    </table>

  </ng-container>

  <!-- List is empty -->
  <ng-container *ngIf="form.list.length == 0">

    <div align="center">
      <h1 style="font-size: 40px; color: #162390;">{{ 'FeeStructureList.EmptyTitle' | translate }}</h1>
    </div>

    <br>

    <!-- Error Message -->
    <div class="row">
      <div class="col-md-4"></div>
      <div *ngIf="form.error && form.message" class="col-md-4 alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><font color="red">{{ form.message }}</font></h4>
      </div>
      <div class="col-md-4"></div>
    </div>

    <br>

    <div style="padding-left: 48%;">
      <input type="submit" (click)="reset()" class="btn btn-primary btn-md" style="font-size: 17px" [value]="'FeeStructureList.Buttons.Back' | translate">
    </div>

  </ng-container>

</div>